cookbooks
tmp
.vagrant*
Cheffile.lock
.DS_Store
/mushroom-observer/*
!/mushroom-observer/.ruby-version
*~
clean-*
.vscode/settings.json
local_gems/acts_as_versioned/
local_gems/rails_db/
mushroom-observer/
